[class="card"]{
    background-color:#006cfa;
}
.card-green{
    background-color: #00e165;
    width: 100%;
    height: 25px;
}

.bg-blu{
    background-color: #006cfa;
}
.bg-green{
    background-color: #00e165;
}
.row-short{
    display: flex;
    width: 95%;
    padding: auto;
}
.container{
    margin-top: 2rem;
}
.card, .card-green{
    color: white;
}
.card-green{
    font-size: x-small;
}
.card:hover, .card-green:hover{
    box-shadow: 0 0 0 1px blue;
    color: palevioletred;
}
.card:hover{
    background-color: #006cfa75;
}
.card-green:hover{
    background-color: #00e16575;
}
h1:hover{
    color: red;
}